@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

.upright:first-child{
 
  color: white; /* Inside color */
  -webkit-text-stroke: 0.6px black;
}
.upright {
  writing-mode: sideways-lr;
}

.imageParent img:only-child{
  @apply col-span-2
}